body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1d6d62;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2be286;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 36px;
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.task-panel {
    margin-top: 20px;
    padding: 20px;
    background-color: #8a1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#task-form {
    margin-bottom: 20px;
}

#task-input {
    padding: 8px;
    width: 60%;
    border: none;
    border-radius: 5px 0 0 5px;
}

#add-task-btn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #b4ceff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn,
.edit-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: #007bff;
}

.delete-btn:hover,
.edit-btn:hover {
    background-color: #cc0000;
}

li span {
    cursor: pointer;
    margin-left: 5px;
}
